.Sidebar .BallWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 10px;
}

.Sidebar .SingleBallWrapper {
  margin: 2px;
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  width: 45%;
}
