.Sidebar {
  width: 80px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;

  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(220, 120, 150, 1);
}

.Sidebar .Button {
  margin-top: 5px;
}
